<section class="header-10-sub v-center bg-midnight-blue">
  <div class="background">&nbsp;</div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Expertenberatung f&uuml;r ihre Gesundheit</h1>
        <p>
          Bereitstellung des NODA Indexes als kundengesteuertes <br/>
          Werkzeug zur Beurteilung ihrer gesunden Lebensweise.
        </p>
      </div>
    </div>
  </div>
  <span class="scroll-btn">
    <a href="#"><span class="mouse"><span> </span></span></a>
  </span>
  <!--<a class="control-btn fui-arrow-down" href="#"> </a>-->
</section>

<!-- content-7  -->
<section class="content-7 v-center" id="Service">
  <div>
    <div class="container">
      <h3>Unser Service f&uuml;r Sie!</h3>
      <div class="row v-center">
        <div class="span3">
          <div class="span3">
            Hier entsteht in der Bereitstellung des NODA Indexes ein kundengesteuertes Werkzeug zur Beurteilung gesunder Lebensweise.
            Über allem steht die Maxime die Dienstleistungs-Qualität im Gesundheitswesen zu verbessern.
          </div>
        </div>
        <div class="span4">
          <div class="span4 offset1">
            <div class="screen-wrapper">
              <div class="screen">
                <%= image_tag("screen-popup.png", alt: "") %>
                <%= image_tag("screen.png", alt: "") %>
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="span3 offset1">
            <h6>Kompetente Beratung</h6>
            Exklusive Beratung zu Arzneimitteln und Gesundheitsfragen durch unser Fachpersonal.
            <h6>Arzneimittelcheck</h6>
            Erstellen Ihres INTERACT Arzneimittelchecks, das die Verträglichkeit und Wechselwirkung Ihrer Arzneimittel zeigt.
            <h6>NODA Index</h6>
            Nutzung des NODA Präventionsmoduls, inkl. monatlicher Auswertung zur präventiven Testung Ihres Gesundheits- und Fitnesszustandes. Mit NODA können Sie präventiv Krankheiten verhindern.
            <h6>Hilfe</h6>
            Hilfe bei Fragen zu Behörden, Krankenkassen und anderen Einrichtungen des Gesundheitswesens.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- content-23  -->
<section class="content-23 v-center bg-midnight-blue custom-bg" id="nodaIndex">
  <div>
    <div class="container">
      <div class="hero-unit hero-unit-bordered">
        <h1>NODA Fitness Index</h1>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"> </a>
</section>

<!-- content-8  -->
<section class="content-8 v-center">
  <div>
    <div class="container">
      <%= image_tag("img-1@2x.png", width: "397px", height: "193px", alt: "") %>
      <h3>NODA - Manage Your Body Effectively With Less Time!</h3>
      <div class="row">
        <div class="span6 offset3">
          <p>In den Zeiten der Globalisierung und der vernetzten Welt wächst die Tendenz, daß andere über unser Leben und unsere Gesundheit bestimmen.</p>
          <p>Mit NODA erhalten Sie ein einfaches, aber wirkungsvolles Tool zur konstanten Überprüfung Ihres Fitness- und Gesundheitszustands.</p>
          <h4>Warum ist NODA für Sie so unverzichtbar?</h4>
          <p>Mit wenigen Klicks dokumentieren Sie Ihren täglichen Fitnesszustand und die Parameter für ein gesundes Leben.</p>
          <p>Eine simple, aber effektive Auswertung hilft Ihnen, negativen Trends sofort auf die Spur zu kommen und läßt Ihre Gesundheit niemals aus dem Ruder laufen. </p>
          <a class="btn btn-large btn-clear" href="#">TRY IT NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- content-23  -->
<section class="content-23  v-center bg-midnight-blue">
  <div id="bgVideo" class="background"></div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Find a perfect suit for <br class="hidden-phone">your startup</h1>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"> </a>
</section>

<section class="content-23 bg-midnight-blue">
  <div class="container"><br>
      <div class="hero-unit">
        <br><h1>Wählen Sie ihr Leistungspaket</h1>
        <h3>Als Mitglied steht Ihnen gegen Bezahlung einer Monatsgebühr ein großes Portfolio an Leistungen zur Verfügung.</h3> <br>
      </div>
    <div class="row">
      <div class="span2 offset2 well">
        <div class="plan"><h2>Silber</h2></div>
        <ul class="unstyled">
          <li>Sie erhalten einen monatlichen Newsletter mit Tipps bzw. Links zu für Sie sinnvollen Webpages zum Thema Sport, Prävention und Gesundheit.</li>
        </ul>
        <h4>Kostenlos</h4>
        <%= link_to 'Auswählen', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %>
      </div>
      <div class="span2 well">
        <div class="plan featured-plan"><h2>Gold</h2></div>
        <ul class="unstyled">
          <li>Nutzung des NODA Präventionsmoduls, inkl. monatlicher detaillierter Auswertung zur präventiven Testung Ihres Gesundheits- und Fitnesszustandes.</li>
        </ul>
        <h4>&euro;3,00<span style="font-size: 0.7em"> /Monat</span></h4>
        <%= link_to 'Auswählen', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %>
      </div>
      <div class="span2 well">
        <div class="plan"><h2>Platin</h2></div>
        <ul class="unstyled">
          <li>Nutzung des NODA Präventionsmoduls<br>
            Exklusive Beratung zu Arzneimitteln und Gesundheitsfragen durch unser Fachpersonal.<br>
            <%= link_to '...mehr Details' %>
          </li>
        </ul>
        <h4>&euro;5,00<span style="font-size: 0.7em"> /Monat</span></h4>
        <%= link_to 'Auswählen', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %>
      </div>
    </div><br>

    </div>
  </div>
</section>


<!-- Email Subscription  -->
<section class="content-13 subscribe-form">
  <div class="container">
    <div class="row">
      <h4 style="padding-left: 30px">Ja, ich möchte den kostenlosen Newsletter erhalten.<br></h4>

      <form>
        <div class="span8">
          <input type="text" placeholder="Email Adresse hier eingeben" spellcheck="false">
        </div>
        <div class="span4">
          <button class="btn btn-large btn-primary" type="submit">
            Absenden
          </button>
        </div>
      </form>
    </div>
  </div>
</section>